html { font-size: 2vw; }

body{
  font-family: 'Economica', sans-serif;
  min-height: 100vh;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

hr { 
  border: none;
  height: 4px;
  /* Set the hr color */
  color: #333; /* old IE */
  margin-top: 10px;
}

.page-area{
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 75vh;
}

.page-area:nth-child(even){
  background-color: #754c24;
  color: white;
}
.page-area:nth-child(even) hr{
  background-color: white;
}

.page-area:nth-child(odd){
  background-color: #c69c6d;
  color: #463934;
}
.page-area:nth-child(odd) hr{
  background-color: #463934;
}

/* Navbar */
.navbar-default{
  background-color: #754c24;
  border: none;
  margin-bottom: 0px;
}

.navbar-toggle{
  background-color: #754c24;
}

.navbar-default .navbar-toggle{
  border-color: #c69c6d;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #c69c6d;
}

.navbar{
  border-radius: 0;
  font-size: 20px;
}

.navbar-default .navbar-brand{
  color: #e7ae83;
  font-size: 20px;
}
.navbar-default .navbar-brand:hover{
  color: #e7c4a9;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}
.navbar-default .navbar-nav>li>a:hover{
  opacity: 0.5;
  color: white;
}

/* Sections */

.section{
  min-height: 95vh; 
}

#home{
  background-image: url("images/jumbotron.jpg");
  background-size: cover;
  background-position: center; 
  height: auto;
}

.footer{
  background-color: #463934;
  padding-top: 5vh;
  padding-bottom: 10vh;
  min-height: 25vh;
  color: white;
}

.title{
  font-family: 'Quattrocento', serif;
  margin-top: 28vh;
}

.title h1{
  font-size: 12vh;
  color: #b78c6c;
}

.title h2{
  font-size: 6vh;
  color: #e8af83;
}
.title h3{
  font-size: 35px;
  margin-top: 30vh;
  font-family: 'Economica', sans-serif;
}
.title h3 a{
  color: #dfdfdf;
}

.col-sm-4 h1{
  font-family: 'Quattrocento', serif;
  font-size: 50px;
  text-align: center;
}

.col-sm-8 p{
  text-align: center;
  font-size: 30px;
}

.col-sm-4 p{
  font-size: 30px;
}

.social img{
  height: 40px;
  width: auto;
  padding-right: 20px;
}